.new-product {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

.actions {
  text-align: center;
  margin-top: 0.6rem;
}

.btn-add {
  background: rgb(42, 180, 150);
}

.btn-cancel {
  background: rgb(112, 116, 114);
}

.type-select {
  width: 50%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #777;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
}

.new-product label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.new-product select {
  width: 50%;
  float: right;
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #bdb9b9;
}

.product-type {
  margin-top: 0.8rem;
  padding: 0.35rem 0.35rem;
  border: 3px solid #bdb9b9;
  border-radius: 6px;
}

@media (min-width: 768px) {
  .type-select {
    align-items: center;
    flex-direction: row;
  }
}