.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav li {
  margin: 0;
  margin-left: 2rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover,
.nav a:active {
  color: #0e9780;
}

.nav button:focus {
  outline: none;
}

.nav button:hover,
.nav button:active {
  color: #0e9780;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}
.nav .delete-button:hover,
.nav .delete-button:active {
  color: #ff3300;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}

.delete-product-btn {
  background-color: gray;
}
